/* Mobile */
:root {
  font-size: 62.5%;

  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  --bg-primary: #EFF1FF;
  --bg-header: #8E9AAF;
  --bg-h1: #CBC0D3;
  --bg-h2: #FEEAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  background: var(--bg-header);

  height: 30.9rem;
  padding-top: 3.2rem;
  margin-bottom: 1.4rem;
}

h1 {
  font-family: var(--ff-heading);
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  background: var(--bg-h1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  margin-top: 3.2rem;
  margin-bottom: 3rem;
  padding-block: 0.8rem;
}

.page {
  background: var(--bg-primary);

  width: 38.4rem;
  margin: auto;
  padding-bottom: 6rem;
}

p {
  font-family: var(--ff-texting);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;

  text-align: center;

  color: #23053A;

  width: 30.5rem;

  margin: auto;
  padding-bottom: 6.3rem;
  padding-top: 2rem;
}

.card {
  position: relative;

  animation: downtop 700ms;
}

main {
  display: grid;
  gap: 3.6rem;
  margin-top: 33rem;
}

.img_hidden {
  display: none;
}

h2 {
  position: absolute;
  top: 1.6rem;
  right: 4.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #4A4E69;
  background: var(--bg-h2);
  
  border-radius: 20px;

  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 400;

  width: 11.2rem;
  height: 3.5rem;

  animation: topdown 1500ms; /* calling the animation */
}

footer {
  opacity: 0;
}

/* animations */
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Desktop version*/

@media (min-width: 930px) {
  .page {
    width: 100%;
    display: inline-flex;
    
    background: #FFFFFF;
  }

  main {
    display: grid;

    gap: 3.2rem;

    margin: 6.4rem 8.1rem 5rem 9.8rem;

    grid-template-areas: "A B E"
                         "D C F";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;

    margin-top: -5rem;
  }

  main div:nth-child(4) {
    grid-area: D;

    margin-top: -21rem;
  }

  main div:nth-child(5) {
    grid-area: E;

    opacity: 1;
  }

  main div:nth-child(6) {
    grid-area: F;

    opacity: 1;

    margin-top: -21rem;
  }

  header {
    height: 37.7rem;
    display: flex;
    flex-direction: column;
    gap: 5.3rem;
  }

  h1 {
    margin-top: -3.2rem;
    padding-block: 0.8rem;
  }

  h2 {
    opacity: 0;
    animation: none;
  }

  p {
    background: var(--bg-header);
    color: #FFFFFF;

    margin-top: -5rem;
    padding: 3.2rem 4.8rem 12.5rem 5.4rem;
  }

  .card {
    position: relative;
    
    animation: none;
  }

  .card img {
    width: 26rem;

    margin-bottom: 5rem;

    object-fit: cover; /* covers the entire box defined for the image */

    transition: all 200ms; /* set the transition time */
  }

  .card img:hover {
    transform: scale(1.1); /* defines the transitions */
    opacity: 0.8;
  }

  .img_hidden {
    display: initial;
  }

  footer {
    color: #4A4E69;

    opacity: 1;

    font-family: var(--ff-footer);
    font-size: 1.4rem;

    margin-top: -12rem;
  }

}


 