:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EFF1FF;

  text-align: center;
}

header {
  background: #8E9AAF;

  height: 27.9rem;
  padding-top: 3.2rem;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;

  color: #FFFFFF;
  background: #CBC0D3;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.page {
  width: 38.4rem;
  margin: auto;
}

p {
  font-family: 'Palanquin', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;

  text-align: center;

  color: #23053A;
}